docs/n8n-workflow-bot-cliente.json
{
  "name": "Gomper - Bot del salon (multi-tenant)",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gomper-bot/:slug",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook Telegram",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 400],
      "webhookId": "gomper-bot-multi-tenant"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "a1", "name": "slug", "value": "={{ $json.params.slug }}", "type": "string" },
            { "id": "a2", "name": "update", "value": "={{ $json.body }}", "type": "object" },
            { "id": "a3", "name": "chatId", "value": "={{ $json.body.message?.chat?.id ?? $json.body.callback_query?.message?.chat?.id }}", "type": "string" },
            { "id": "a4", "name": "userId", "value": "={{ $json.body.message?.from?.id ?? $json.body.callback_query?.from?.id }}", "type": "string" },
            { "id": "a5", "name": "userName", "value": "={{ $json.body.message?.from?.first_name ?? $json.body.callback_query?.from?.first_name ?? 'cliente' }}", "type": "string" },
            { "id": "a6", "name": "text", "value": "={{ $json.body.message?.text ?? '' }}", "type": "string" },
            { "id": "a7", "name": "callbackData", "value": "={{ $json.body.callback_query?.data ?? '' }}", "type": "string" },
            { "id": "a8", "name": "callbackQueryId", "value": "={{ $json.body.callback_query?.id ?? '' }}", "type": "string" },
            { "id": "a9", "name": "startPayload", "value": "={{ ($json.body.message?.text ?? '').startsWith('/start ') ? ($json.body.message.text.substring(7)) : '' }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "node-set-params",
      "name": "Set params",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [400, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://gestori.es/api/v1/lookup-bot?slug={{ $json.slug }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "node-lookup",
      "name": "Lookup Salon",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Header Auth Gomper API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "id": "c-not-found",
              "leftValue": "={{ $json.salon?.id ?? null }}",
              "rightValue": null,
              "operator": { "type": "object", "operation": "empty", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-notfound",
      "name": "Salon existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [800, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $('Lookup Salon').item.json.salon.telegram_bot_token }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $('Set params').item.json.chatId }}\",\n  \"text\": \"Este bot todavia no esta configurado. Contacta con el administrador.\"\n}",
        "options": {}
      },
      "id": "node-bot-not-configured",
      "name": "Bot no configurado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "loose" },
                "conditions": [
                  {
                    "id": "r-start",
                    "leftValue": "={{ $('Set params').item.json.text }}",
                    "rightValue": "/start",
                    "operator": { "type": "string", "operation": "startsWith" }
                  }
                ],
                "combinator": "and"
              },
              "outputKey": "start"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "loose" },
                "conditions": [
                  {
                    "id": "r-reservar",
                    "leftValue": "={{ $('Set params').item.json.callbackData }}",
                    "rightValue": "menu:reservar",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "outputKey": "reservar"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "loose" },
                "conditions": [
                  {
                    "id": "r-srv",
                    "leftValue": "={{ $('Set params').item.json.callbackData }}",
                    "rightValue": "srv:",
                    "operator": { "type": "string", "operation": "startsWith" }
                  }
                ],
                "combinator": "and"
              },
              "outputKey": "srv"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "loose" },
                "conditions": [
                  {
                    "id": "r-prf",
                    "leftValue": "={{ $('Set params').item.json.callbackData }}",
                    "rightValue": "prf:",
                    "operator": { "type": "string", "operation": "startsWith" }
                  }
                ],
                "combinator": "and"
              },
              "outputKey": "prf"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "loose" },
                "conditions": [
                  {
                    "id": "r-fch",
                    "leftValue": "={{ $('Set params').item.json.callbackData }}",
                    "rightValue": "fch:",
                    "operator": { "type": "string", "operation": "startsWith" }
                  }
                ],
                "combinator": "and"
              },
              "outputKey": "fch"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "loose" },
                "conditions": [
                  {
                    "id": "r-slot",
                    "leftValue": "={{ $('Set params').item.json.callbackData }}",
                    "rightValue": "slot:",
                    "operator": { "type": "string", "operation": "startsWith" }
                  }
                ],
                "combinator": "and"
              },
              "outputKey": "slot"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "loose" },
                "conditions": [
                  {
                    "id": "r-book",
                    "leftValue": "={{ $('Set params').item.json.callbackData }}",
                    "rightValue": "book:",
                    "operator": { "type": "string", "operation": "startsWith" }
                  }
                ],
                "combinator": "and"
              },
              "outputKey": "book"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "loose" },
                "conditions": [
                  {
                    "id": "r-miscitas",
                    "leftValue": "={{ $('Set params').item.json.callbackData }}",
                    "rightValue": "menu:miscitas",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "outputKey": "miscitas"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "loose" },
                "conditions": [
                  {
                    "id": "r-servicios",
                    "leftValue": "={{ $('Set params').item.json.callbackData }}",
                    "rightValue": "menu:servicios",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "outputKey": "servicios"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "loose" },
                "conditions": [
                  {
                    "id": "r-horario",
                    "leftValue": "={{ $('Set params').item.json.callbackData }}",
                    "rightValue": "menu:horario",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "outputKey": "horario"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "loose" },
                "conditions": [
                  {
                    "id": "r-confirmar",
                    "leftValue": "={{ $('Set params').item.json.callbackData }}",
                    "rightValue": "confirmar:",
                    "operator": { "type": "string", "operation": "startsWith" }
                  }
                ],
                "combinator": "and"
              },
              "outputKey": "confirmar"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "loose" },
                "conditions": [
                  {
                    "id": "r-cancelar",
                    "leftValue": "={{ $('Set params').item.json.callbackData }}",
                    "rightValue": "cancelar:",
                    "operator": { "type": "string", "operation": "startsWith" }
                  }
                ],
                "combinator": "and"
              },
              "outputKey": "cancelar"
            }
          ]
        },
        "fallbackOutput": "extra",
        "options": {}
      },
      "id": "node-switch",
      "name": "Router intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1000, 600]
    },
    {
      "parameters": {
        "jsCode": "const params = $('Set params').item.json;\nconst lookup = $('Lookup Salon').item.json;\nconst salon = lookup.salon;\nconst nombre = salon.nombre;\nconst agente = salon.agente_nombre || 'Asistente';\nconst bienvenida = salon.agente_bienvenida || `Hola ${params.userName}, soy ${agente} del salon ${nombre}. Que quieres hacer?`;\n\nreturn [{\n  json: {\n    chat_id: params.chatId,\n    text: bienvenida,\n    parse_mode: 'HTML',\n    reply_markup: {\n      inline_keyboard: [\n        [{ text: 'Reservar', callback_data: 'menu:reservar' }],\n        [{ text: 'Mis citas', callback_data: 'menu:miscitas' }],\n        [{ text: 'Servicios', callback_data: 'menu:servicios' }, { text: 'Horario', callback_data: 'menu:horario' }]\n      ]\n    }\n  }\n}];"
      },
      "id": "node-build-start",
      "name": "Build /start menu",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 200]
    },
    {
      "parameters": {
        "jsCode": "const params = $('Set params').item.json;\nconst lookup = $('Lookup Salon').item.json;\nconst servicios = lookup.servicios || [];\n\nconst rows = servicios.map(s => ([{\n  text: `${s.nombre} (${s.duracion_min} min, ${s.precio_eur} EUR)`,\n  callback_data: `srv:${s.id}`\n}]));\n\nreturn [{\n  json: {\n    chat_id: params.chatId,\n    text: 'Elige un servicio:',\n    parse_mode: 'HTML',\n    reply_markup: { inline_keyboard: rows }\n  }\n}];"
      },
      "id": "node-build-reservar",
      "name": "Build servicios list",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 350]
    },
    {
      "parameters": {
        "jsCode": "// TODO: Branch C (srv:<id>) - mostrar profesionales\nconst params = $('Set params').item.json;\nconst lookup = $('Lookup Salon').item.json;\nconst servId = params.callbackData.split(':')[1];\nconst profesionales = lookup.profesionales || [];\n\nconst rows = profesionales.map(p => ([{\n  text: p.nombre,\n  callback_data: `prf:${servId}:${p.id}`\n}]));\nrows.push([{ text: 'Cualquiera', callback_data: `prf:${servId}:any` }]);\n\nreturn [{\n  json: {\n    chat_id: params.chatId,\n    text: 'Con que profesional?',\n    parse_mode: 'HTML',\n    reply_markup: { inline_keyboard: rows }\n  }\n}];"
      },
      "id": "node-build-srv",
      "name": "Build profesionales list",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 500]
    },
    {
      "parameters": {
        "jsCode": "// Branch D (prf:<servId>:<profId>) -> selector de fecha (3 dias)\nconst params = $('Set params').item.json;\nconst parts = params.callbackData.split(':');\nconst servId = parts[1];\nconst profId = parts[2];\nconst hoy = new Date();\nconst d = (n) => {\n  const x = new Date(hoy.getTime() + n*86400000);\n  return x.toISOString().slice(0,10);\n};\nconst rows = [\n  [{ text: 'Hoy', callback_data: `fch:${servId}:${profId}:${d(0)}` }],\n  [{ text: 'Manana', callback_data: `fch:${servId}:${profId}:${d(1)}` }],\n  [{ text: 'Pasado', callback_data: `fch:${servId}:${profId}:${d(2)}` }]\n];\nreturn [{ json: { chat_id: params.chatId, text: 'Para que dia?', reply_markup: { inline_keyboard: rows } } }];"
      },
      "id": "node-build-prf",
      "name": "Build fecha selector",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 650]
    },
    {
      "parameters": {
        "jsCode": "// Branch E (fch:<servId>:<profId>:<fecha>) -> llamar a /disponibilidad y mostrar slots\n// TODO: este nodo solo prepara la URL. Anadir un HTTP Request despues que la consuma y otro Code que formatee los slots como botones inline (callback `slot:<servId>:<profId>:<isoUtc>`).\nconst params = $('Set params').item.json;\nconst parts = params.callbackData.split(':');\nconst servId = parts[1];\nconst profId = parts[2];\nconst fecha = parts[3];\nconst slug = params.slug;\nconst profQuery = (profId && profId !== 'any') ? `&profesional_id=${profId}` : '';\nconst url = `https://gestori.es/api/v1/salones/${slug}/disponibilidad?servicio_id=${servId}&fecha=${fecha}${profQuery}`;\nreturn [{ json: { url, servId, profId, fecha, chatId: params.chatId } }];"
      },
      "id": "node-build-fch",
      "name": "Build disponibilidad URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 800]
    },
    {
      "parameters": {
        "jsCode": "// Branch F (slot:<servId>:<profId>:<isoUtc>) -> resumen + boton confirmar\n// TODO: incluir paso de pedir telefono con force_reply si el cliente no tiene telefono guardado.\nconst params = $('Set params').item.json;\nconst parts = params.callbackData.split(':');\nconst servId = parts[1];\nconst profId = parts[2];\nconst iso = parts.slice(3).join(':');\nconst lookup = $('Lookup Salon').item.json;\nconst serv = (lookup.servicios || []).find(s => s.id === servId);\nconst prof = (lookup.profesionales || []).find(p => p.id === profId);\nconst rows = [[{ text: 'Confirmar reserva', callback_data: `book:${servId}:${profId}:${iso}` }], [{ text: 'Cancelar', callback_data: 'menu:reservar' }]];\nreturn [{ json: { chat_id: params.chatId, text: `Resumen:\\n- Servicio: ${serv?.nombre}\\n- Profesional: ${prof?.nombre || 'cualquiera'}\\n- Fecha (UTC): ${iso}\\n\\nConfirmas?`, reply_markup: { inline_keyboard: rows } } }];"
      },
      "id": "node-build-slot",
      "name": "Build resumen reserva",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 950]
    },
    {
      "parameters": {
        "jsCode": "// Branch G (book:<servId>:<profId>:<isoUtc>) -> POST /citas\n// TODO: anadir HTTP Request despues que haga el POST a `url` con header auth y body, luego un Code que formatee la confirmacion antes del sendMessage final.\nconst params = $('Set params').item.json;\nconst parts = params.callbackData.split(':');\nconst servId = parts[1];\nconst profId = parts[2];\nconst iso = parts.slice(3).join(':');\nconst slug = params.slug;\nconst body = {\n  servicio_id: servId,\n  profesional_id: (profId === 'any') ? null : profId,\n  inicio: iso,\n  cliente: { telegram_id: String(params.userId), nombre: params.userName },\n  origen: 'telegram'\n};\nreturn [{ json: { url: `https://gestori.es/api/v1/salones/${slug}/citas`, body, chatId: params.chatId } }];"
      },
      "id": "node-build-book",
      "name": "Build POST cita",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 1100]
    },
    {
      "parameters": {
        "jsCode": "// Branch H (menu:miscitas) -> listar citas del cliente\n// TODO: anadir HTTP Request GET despues + Code que formatee la lista en HTML.\nconst params = $('Set params').item.json;\nconst slug = params.slug;\nconst url = `https://gestori.es/api/v1/salones/${slug}/citas?cliente_telegram_id=${params.userId}`;\nreturn [{ json: { url, chatId: params.chatId } }];"
      },
      "id": "node-build-miscitas",
      "name": "Build mis citas URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 1250]
    },
    {
      "parameters": {
        "jsCode": "// Branch I (menu:servicios)\nconst params = $('Set params').item.json;\nconst lookup = $('Lookup Salon').item.json;\nconst lista = lookup.servicios_lista || (lookup.servicios || []).map(s => `- ${s.nombre} (${s.duracion_min} min, ${s.precio_eur} EUR)`).join('\\n');\nreturn [{ json: { chat_id: params.chatId, text: `<b>Servicios</b>\\n${lista}`, parse_mode: 'HTML' } }];"
      },
      "id": "node-build-servicios",
      "name": "Build servicios info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 1400]
    },
    {
      "parameters": {
        "jsCode": "// Branch J (menu:horario) - TODO: enriquecer con horarios reales del lookup si los expone\nconst params = $('Set params').item.json;\nconst lookup = $('Lookup Salon').item.json;\nconst tz = lookup.salon.timezone || 'Europe/Madrid';\nreturn [{ json: { chat_id: params.chatId, text: `<b>Horario</b>\\nZona horaria: ${tz}\\nConsulta el panel del salon para ver el detalle.`, parse_mode: 'HTML' } }];"
      },
      "id": "node-build-horario",
      "name": "Build horario",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 1550]
    },
    {
      "parameters": {
        "jsCode": "// Branch K (confirmar:<citaId>)\n// TODO: anadir HTTP Request POST a /api/v1/citas/<id>/confirmar y formatear respuesta.\nconst params = $('Set params').item.json;\nconst citaId = params.callbackData.split(':')[1];\nreturn [{ json: { url: `https://gestori.es/api/v1/citas/${citaId}/confirmar`, body: {}, chatId: params.chatId, citaId } }];"
      },
      "id": "node-build-confirmar",
      "name": "Build confirmar URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 1700]
    },
    {
      "parameters": {
        "jsCode": "// Branch L (cancelar:<citaId>)\n// TODO: anadir HTTP Request POST a /api/v1/citas/<id>/cancelar y formatear respuesta.\nconst params = $('Set params').item.json;\nconst citaId = params.callbackData.split(':')[1];\nreturn [{ json: { url: `https://gestori.es/api/v1/citas/${citaId}/cancelar`, body: { motivo: 'Cancelada por el cliente desde Telegram' }, chatId: params.chatId, citaId } }];"
      },
      "id": "node-build-cancelar",
      "name": "Build cancelar URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 1850]
    },
    {
      "parameters": {
        "jsCode": "// Branch M fallback (texto libre)\n// TODO opcional: invocar a Gemini Flash con el system prompt del agente_nombre/tono y servicios_lista para responder en lenguaje natural y ofrecer el menu.\nconst params = $('Set params').item.json;\nreturn [{ json: { chat_id: params.chatId, text: 'No te he entendido. Usa /start para abrir el menu.' } }];"
      },
      "id": "node-build-fallback",
      "name": "Build fallback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 2000]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $('Lookup Salon').item.json.salon.telegram_bot_token }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "node-send-message",
      "name": "Telegram sendMessage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1700, 1000]
    }
  ],
  "connections": {
    "Webhook Telegram": {
      "main": [[{ "node": "Set params", "type": "main", "index": 0 }]]
    },
    "Set params": {
      "main": [[{ "node": "Lookup Salon", "type": "main", "index": 0 }]]
    },
    "Lookup Salon": {
      "main": [[{ "node": "Salon existe?", "type": "main", "index": 0 }]]
    },
    "Salon existe?": {
      "main": [
        [{ "node": "Bot no configurado", "type": "main", "index": 0 }],
        [{ "node": "Router intent", "type": "main", "index": 0 }]
      ]
    },
    "Router intent": {
      "main": [
        [{ "node": "Build /start menu", "type": "main", "index": 0 }],
        [{ "node": "Build servicios list", "type": "main", "index": 0 }],
        [{ "node": "Build profesionales list", "type": "main", "index": 0 }],
        [{ "node": "Build fecha selector", "type": "main", "index": 0 }],
        [{ "node": "Build disponibilidad URL", "type": "main", "index": 0 }],
        [{ "node": "Build resumen reserva", "type": "main", "index": 0 }],
        [{ "node": "Build POST cita", "type": "main", "index": 0 }],
        [{ "node": "Build mis citas URL", "type": "main", "index": 0 }],
        [{ "node": "Build servicios info", "type": "main", "index": 0 }],
        [{ "node": "Build horario", "type": "main", "index": 0 }],
        [{ "node": "Build confirmar URL", "type": "main", "index": 0 }],
        [{ "node": "Build cancelar URL", "type": "main", "index": 0 }],
        [{ "node": "Build fallback", "type": "main", "index": 0 }]
      ]
    },
    "Build /start menu": {
      "main": [[{ "node": "Telegram sendMessage", "type": "main", "index": 0 }]]
    },
    "Build servicios list": {
      "main": [[{ "node": "Telegram sendMessage", "type": "main", "index": 0 }]]
    },
    "Build profesionales list": {
      "main": [[{ "node": "Telegram sendMessage", "type": "main", "index": 0 }]]
    },
    "Build fecha selector": {
      "main": [[{ "node": "Telegram sendMessage", "type": "main", "index": 0 }]]
    },
    "Build resumen reserva": {
      "main": [[{ "node": "Telegram sendMessage", "type": "main", "index": 0 }]]
    },
    "Build servicios info": {
      "main": [[{ "node": "Telegram sendMessage", "type": "main", "index": 0 }]]
    },
    "Build horario": {
      "main": [[{ "node": "Telegram sendMessage", "type": "main", "index": 0 }]]
    },
    "Build fallback": {
      "main": [[{ "node": "Telegram sendMessage", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "id": "gomper-bot-multi-tenant",
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    { "id": "gomper", "name": "gomper" },
    { "id": "telegram", "name": "telegram" }
  ]
}
